* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('hh.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

h1 {
  color: #f9f9f9;
  text-align: center;
  margin-bottom: 20px;
}
h2{
  color: #ccc;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-container input {
  padding: 10px;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.product-list h2 {
  text-align: center;
  margin-bottom: 20px;
}

#productList {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.product-item button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #d32f2f;
}

.update-button {
  background-color: #4CAF50;
  margin-right: 10px;
}

.update-button:hover {
  background-color: #388e3c;
}
